.show576 {
  display: table-cell;
  ;
}

.show992 {
  display: none;
}

@media (min-width: 576px) {
  .show576 {
    display: none;
  }

}

@media (min-width: 576px) {
  .show992 {
    display: table-cell;
  }
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.width-500 {
  width: 500px;

}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #da0d0d;
}

.ticket {
  width: 100px;
  height: 50px;
  border: 1px solid #9a9a9c;
  margin: 5px;
  text-align: left;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

.ticket-vague {
  width: 100px;
  height: 50px;
  border: 1px solid #9a9a9c;
  margin: 5px;
  text-align: left;
  font-weight: bold;
  border-radius: 5px;
  color: rgb(24, 23, 23);
  padding: 5px;
  font-size: 12px;
}

.ticket p {
  font-size: 10px;
}

.ticket-vague p {
  font-size: 10px;
}

.rotulo {
  display: flex;
  justify-items: center;
  justify-content: center;

}

.abbreviation {
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-delete {
  font-size: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  width: 60px;
}
.icon-vaguo {
  font-size: 10px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  width: 60px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 12px;
  /*border: 1px solid #444;*/
  border-radius: 4px;
  width: 100%;
}

.radio-toolbar label:hover {
  background-color: rgb(22, 22, 22);
  border: 1px solid #444;
  cursor: pointer;
  width: 100%;
}

.radio-toolbar input[type="radio"]:focus+label {
  border: 2px dashed #444;
  width: 100%;
}

.radio-toolbar input[type="radio"]:checked+label {
  /* background-color: #bfb; */
  border-color: #4c4;
  border: 2px dashed rgb(243, 242, 242);
  width: 100%;
}

.radio-toolbar .active {

  border: 1px solid #4c4;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  display: flex;
  font-size: 12px;
  align-items: center;
  align-content: center;
  width: 100%;

}

.disabled-span {
  color: #9a9a9c
}

.load {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
.loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
  display: flex;

}

@keyframes is-rotating {
  to {
     transform: rotate(1turn);
  }
}     